.header {


}

.main {


}

.footer {


}

p {
    color: rgb(57, 162, 99);
}

html {
    background-color: #b1d90f;
    font-size: 10px;
    font-family: "Open Sans" , sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
}

p, li {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
}

body {
    width: 60px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }

  img {
    
    width: 30px;
    height: 20px
    
   
  }