header {
  margin: 0;
  padding: 0;
  z-index: 10;
  position: fixed;
  background-color: slategray;
  height: 50px;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #000000;
}

main {
  padding: 40px;
  padding-top: 100px;
}

footer {
  position: fixed;
  padding: 40px;
}

#explain {
  padding: 40px;
  list-style: none;
  font-size: 15px;
  color: #000000;
  text-shadow: slategray;
  border-left: 5px solid rgb(35, 52, 82);
  background-color: rgb(232, 232, 232);
  animation: popup 1.0s cubic-bezier(0.5, 1, 0.8, 1) forwards;
}

.namakero {
  padding: 40px;
  display: flex;
  flex-direction: column;
  height: 70%;
}

/* カウンター */

#countUp {
  width: 40%;
  height: 50%;
  color: #fff;
  background-color: #04eb00;
  border-bottom: 5px solid #00b809;
  margin-top: 3px;
  color: #fff;
  background: #04eb00;
  border-bottom: 6px solid #00b809;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  flex-basis: 100;
  height: 50;
}

#countDi {
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#countDo {
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: #04eb00;
  border-bottom: 5px solid #00b809;
  margin-top: 3px;
  color: #fff;
  background: #04eb00;
  border-bottom: 6px solid #00b809;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  flex-basis: 100;
}

#countRe {
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: #04eb00;
  border-bottom: 5px solid #00b809;
  margin-top: 3px;
  color: #fff;
  background: #04eb00;
  border-bottom: 6px solid #00b809;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  flex-basis: 100;
}


.table {
  padding: 40px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-basis: 100;
  color: #fff;
  background-color: #00ebac;
  border-bottom: 5px solid #00b8ac;
  margin: auto;
  padding: auto;
  margin-top: 3px;
  color: #fff;
  background: #00ebac;
  border-bottom: 6px solid #00b8ac;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  /*イージス関数の値をいじると速度変わる。(x1, y1, x2,)*/
  animation: popup 1.0s cubic-bezier(0.5, 1, 0.8, 1) forwards;
}

@keyframes popup {
  0% {
    transform: translateY(40px) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1.0);
  }
  80%, 100% {
    opacity: 1;
  }
}

.enter {
  color: #fff;
  background-color: #04eb00;
  border-bottom: 5px solid #00b809;
  margin-top: 3px;
  color: #fff;
  background: #04eb00;
  border-bottom: 6px solid #00b809;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

/*html {
  background-color: #b1d90f;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}*/

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size:30px;
  text-align: center;
}

h3 {
  font-size: 20px;
}

body {
  margin: 0;
  background-image: url(images/back.jpg);
  background-size: cover;
  background-position: 51%;
  background-attachment: fixed;
}

img {
  margin: auto;
  width: 70%;
  height: 70%;
}

.fade-enter-active,
.fade-leave-active{
  transition:opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to{
  opacity: 0;
}

.ham{
  margin: auto;
  width: 10%;
  height: 10%;
}

